Library
Temp
*.csproj
*.sln
*.userprefs
*.app
obj
.vs/
Assets/PostProcessing
Assets/PostProcessing.meta
*.apk
QCAR/*
*.csv
Assets/Vuforia/*
Assets/Vuforia.meta
Assets/ForPrint/*
Assets/ForPrint.meta
Assets/StreamingAssets/*
Assets/StreamingAssets.meta
Assets/Editor/Vuforia/*
Assets/Editor.meta
Assets/Editor/Vuforia.meta
