Library
Temp
*.csproj
*.sln
*.userprefs
obj
.vs/
VuforiaTest/Assets/Vuforia/*
VuforiaTest/Assets/Vuforia.meta
VuforiaTest/Assets/ForPrint/*
VuforiaTest/Assets/ForPrint.meta
VuforiaTest/Assets/StreamingAssets/*
VuforiaTest/Assets/StreamingAssets.meta
VuforiaTest/Assets/Editor/Vuforia/*
VuforiaTest/Assets/Editor.meta
VuforiaTest/Assets/Editor/Vuforia.meta
VuforiaTest/Assets/PostProcessing
*.apk
VuforiaTest/QCAR/*
